abstract=Ontology to describe transparent research objects and the systems that create them.
ontologyTitle=Transparent Research Object Vocabulary
ontologyPrefix=trov
ontologyNamespaceURI=https://w3id.org/trace/trov#
ontologyName=trov
thisVersionURI=
latestVersionURI=https://w3id.org/trace/trov
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=0.1
licenseURI=https://creativecommons.org/licenses/by-sa/4.0/
licenseName=CC BY-SA 4.0
licenseIconURL=
citeAs=
DOI=
status=Draft
backwardsCompatibleWith=
publisher=TRACE Project
publisherURI=https://transparency-certified.github.io/
RDFXMLSerialization=trov.rdf
TurtleSerialization=trov.ttl
N3Serialization=trov.nt
JSONLDSerialization=trov.json
